<%= render 'layouts/public_header'%>

<main>
  
  
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-xs-12 col-sm-12 col-md-12"></div>
    <h2 class="col-xl-4 col-lg-4 col-xs-12 col-sm-12 col-md-12 bg-light text-center">イベント一覧</h2>
    <div class="col-xl-4 col-lg-4 col-sm-12 col-md-12" style="text-align-last: center;">
      <%=form_tag('/', method: 'get') do %>
        <%=text_field_tag(:event_key)%>
        <%=submit_tag ('検索')%>
      <%end%>
    </div>
  </div>
  
  <div class="card-deck justify-content-center">
    <% @events.each do |event|%>
    
      <div class="card bg-light  col-xl-4 col-lg-4 col-sm-12 col-md-12 m-3">
        <%= link_to public_event_path(event.id) do %>
          <h4 class="card-header"><%=event.name%></h4>
          
          <div class="card-body">
            <div class="text-center">
              <% if event.event_image.attached?%>
                <%=image_tag event.event_image,width:'200px',height:'200px'%>
              <%else%>
                <%=image_tag 'no_image.jpg',width:'200px',height:'200px'%>
              <%end%>
              
              <p><%=event.musician.name%></p>
              <p><%=event.datetime%></p>
              
              <p>
                 <% event.genre_items.first(3).each do |genre_item|%>
                   <div class="m-1 p-1 border">
                     <%=genre_item.name%>
                   </div>
                 <%end%>  
              </p>
            </div>
          </div>
          
          <div class="card-footer">
            <%=event.created_at.strftime('%Y年%m月%d日%H時%M分')%>
          </div>
        <%end%>
      </div>
      
    <%end%>
  </div>
  
  <div class="row">
    <div class="text-center">
      <%= paginate @events%>
    </div>
  </div>
    
  

</main>

    