<%= render 'layouts/public_header'%>

<main>
  
  <div class="row">
    <div class="col-4"></div>
      <h2 class="col-4 bg-light text-center"><%=@event.name%></h2>
    <div class="col-4"></div>
  </div>
  
  
  <div class="text-center">
    <% if current_user.present?%>
      <% if @event.favorite_by?(current_user)%>
        <%=link_to "いいねをやめる", public_event_favorites_path(@event),method: :delete,class:"btn btn-danger m-3"%>
      <%else%>
        <%=link_to "いいね", public_event_favorites_path(@event),method: :post,class:"btn btn-info m-3"%>
      <%end%>

      <%=link_to "予約する", new_public_event_reservation_path(@event.id),class:"btn btn-primary m-3"%>
    <%end%>
  </div>
  
  
  <div class="text-center">
    <% if @event.event_image.attached?%>
      <%=image_tag @event.event_image, size: '250x250'%>
    <%else%>
      <%=image_tag 'no_image.jpeg', size: '250x250'%>
    <%end%>
  </div>
  
  
  <div class="mx-auto w-50">
    <table class="table text-center">
        <tbody>
            <tr>
                <td class="text-center">ミュージシャン名</td>
                <td class="text-center"><%=link_to @event.musician.name, public_musician_path(@event.musician.id)%></td>
            </tr>
            
            <tr>
                <td class="text-center">説明文</td>
                <td class="text-center"><%=@event.introduction%></td>
            </tr>
            
            <tr>
                <td nowrap class="text-center">日時</td>
                <td class="text-center"><%=@event.datetime%></td>
            </tr>
            
            <tr>
                <td class="text-center">場所</td>
                <td class="text-center"><%=@event.place%></td>
            </tr>
            
            <tr>
                <td class="text-center">ジャンル</td>
                <td class="text-center">
                  <% @event.genre_items.each do |genre_item|%>
                      <span class="text-center p-1" style="display: block;"><%=genre_item.name%></span>
                  <%end%>
                </td>
            </tr>
            
            <tr>
                <td class="text-center">予約ステータス</td>
                <td class="text-center"><%=@event.seating_status_i18n%></td>
            </tr>
        </tbody>
    </table>
  </div>
  
  
  <div class="col-xs-12 col-sm-4">
    <h3 class="text-center border border-dark border-top-0 border-right-0 border-left-0">コメント</h3>
  </div>
  
  
  
  
  <% if current_user.present?%>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= alert %>
           <%=form_with model: [@event,@comment],url: public_event_comments_path(@event) do |f|%>
            <%=f.text_area :comment,placeholder: 'コメントを記述'%>
            <%=f.submit 'コメント',class:"btn btn-success"%>
          <%end%>
        </div>
        
        <div class="col-xs-12 col-sm-6">
           <% @event.comments.each do |comment|%>
             <div class="border">
               <% if comment.user==current_user%>
               
                <div class="d-flex align-items-center">
                  <% if comment.user.user_image.attached?%>
                    <%=image_tag comment.user.user_image,size: '100x100',class:"img-thumbnail"%>
                  <%else%>
                    <%=image_tag 'no_image.jpeg',size: '100x100', class:"img-thumbnail"%>
                  <%end%>
                
           
                  <div class="text-center">
                    <h5><%=comment.user.name%></h5></br>
                    <p><%=comment.comment%></p></br>
                    <p class="text-secondary"><%=comment.created_at.strftime('%Y年%m月%d日')%></p>
                    <%=link_to "削除",public_event_comment_path(@event,comment),method: :delete%>
                  </div>
                </div>
                
              <%elsif comment.musician.present?%>
                <div class="d-flex align-items-center">
                  <% if comment.musician.musician_image.attached?%>
                    <%=image_tag comment.musician.musician_image,size: '100x100', class:"img-thumbnail"%>
                  <%else%>
                    <%=image_tag 'no_image.jpeg',size: '100x100', class:"img-thumbnail"%>
                  <%end%>
                  
                  <div class="text-center">
                    <h5><%=comment.musician.name%></h5>
                    <p><%=comment.comment%></p>
                    <p class="text-secondary"><%=comment.created_at.strftime('%Y年%m月%d日')%>  </p>
                  </div>

                </div>
          
              <%end%>
              
             </div>
              
          <%end%>
        </div>
      </div>
    </div>
        
  <%else%>
    <p>コメントするにはログインしてください</p>
  <%end%>
</main>



  
  
  