<%=render 'layouts/admin_header'%>

<h2>イベント一覧</h2>

<table class="table">
    <thead class="bg-light">
        <th>イベント名</th>
        <th>日時</th>
        <th>予約数</th>
        <th>予約ステータス</th>
    </thead>
    
    <tbody>
        <% @events.each do |event|%>
          <tr>
              <td><%=link_to event.name, admin_event_path(event)%></td>
              <td><%=event.datetime%></td>
              <td>
                  <%event.reservations.each do |reservation|%>
                    <% @total_headcount=@total_headcount+reservation.headcount%>
                  <%end%>
                  <%=@total_headcount%>
                  /<%=event.capacity%>
              </td>
              <td><%=event.seating_status_i18n%></td>
          </tr>
        <%end%>
    </tbody>
</table>
<%= paginate @events%>
