<%= render 'layouts/musician_header'%>

<h2><%=@event.name%>編集</h2>

<%= form_with model: @event, url: musician_event_path(@event), method: :patch do |f|%>
  <%=f.label :event_image, 'イベント画像'%>
  <%=f.file_field :event_image,accept: 'image/*',placeholder: "ファイルを選択"%>
  
  <%=f.label :name,'イベント名'%>
  <%=f.text_field :name,autofocus: true%>
  
  <%=f.label :introduction, "説明文"%>
  <%=f.text_area :introduction,autofocus: true%>
  
  <%=f.label :datetime, "日時"%>
  <%=f.text_field :datetime, autofocus: true%>
  
  <%=f.label :place,'場所'%>
  <%=f.text_field :place,autofocus: true%>
  
  <%=f.label :genre,'ジャンル'%>
  <%=f.select :genre,options_form_collection_for_select(Genre.all,:id,:name)%>
  
  <%=f.label :capacity,'最大予約人数'%>
  <%=f.text_field :capacity,autofocus: true%>
  
  <%=f.label :seating_status,'予約ステータス'%>
  <%=f.select :seating_status,Event.seating_status.keys,include_blank: true%>
  
  <%=f.submit "編集する",class: "btn btn-success"%>
<%end%>
  
  