<%= render 'layouts/musician_header'%>

<main>
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-xs-12 col-sm-12 col-md-12"></div>
      <h2 class="col-xl-4 col-lg-4 col-xs-12 col-sm-12 col-md-12 bg-light text-center">投稿したイベント</h2>
    <div class="col-xl-4 col-lg-4 col-xs-12 col-sm-12 col-md-12"></div>
  </div>
  
  <div class="mx-auto">
    <table class="table text-center">
        <thead class="bg-light">
            <tr>
                <th class="text-center">イベント名</th>
                <th class="text-center">日時</th>
                <th class="text-center">予約数</th>
                <th class="text-center">予約ステータス</th>
            </tr>
        </thead>
        <tbody>
            <%@events.each do |event|%>
              <tr>
                  <td class="text-center"><%=link_to event.name,musician_event_path(event.id)%></td>
                  <td class="text-center"><%=event.datetime%></td>
                  <td class="text-center"><%=event.reservations.count%>/<%=event.capacity%></td>
                  <td class="text-center"><%=event.seating_status_i18n%></td>
              </tr>
            <%end%>
        </tbody>
    </table>
    
    <div class="text-center">
        <%= paginate @events%>  
    </div>
    
  </div>
</main>