<%= render 'layouts/musician_header'%>

<h2>イベント作成</h2>
<% if @event.errors.any? %>
  <%= @event.errors.count%>件のエラーが発生しました
  <ul>
    <% @event.errors.full_messages.each do |message|%>
      <li><%= message%></li>
    <%end%>
  </ul>
<%end%>

<%=form_with model: @event,url: musician_events_path do |f|%>
  <%=f.label :event_image,'イベント画像'%>
  <%=f.file_field :event_image,accept: 'image/*',placeholder: "ファイルを選択"%>
  
  <%=f.label :name, 'イベント名'%>
  <%=f.text_field :name,autofocus: true,placeholder: 'イベント名を記述'%>
  
  <%=f.label :introduction,'説明文'%>
  <%=f.text_area :introduction,autofocus: true,placeholder: '説明文を記述'%>
  
  <%=f.label :datetime,'日時'%>
  <%=f.text_field :datetime,autofocus: true, autocomplete: "name",placeholder: 'xx/xx/xx/xx:xx~'%>
  
  <%=f.label :price,'チャージ料金'%>
  <%=f.text_field :price,autofocus: true,placeholder: 'xxx'%>円
  
  <%=f.label :place, '場所'%>
  <%=f.text_field :place,autofocus: true,autocomplete: "place",placeholder: '場所を記述'%>
  
  <%=f.label :genre_item_ids,'ジャンル'%>
  <%= f.collection_check_boxes(:genre_item_ids, GenreItem.all, :id, :name) do |genre| %>
      <div class='form-check'>
          <%= genre.label class: 'form-check-label' do %>
              <%= genre.check_box class: 'form-check-input' %>
              <%= genre.text %>
          <% end %>
      </div>
  <% end %>

  <%=f.label :capacity, '最大予約人数'%>
  <%=f.text_field :capacity, autofocus: true, placeholder: 'xx'%>
  
  <%=f.submit '作成',class: "btn btn-success"%>
<%end%>