<%= render 'layouts/admin_header'%>

<main>
    <div class="row">
        <div class="col-4"></div>
          <h2 class="col-4 bg-light text-center">ジャンル編集</h2>
        <div class="col-4"></div>
    </div>
    
    <dix class="text-center">
      <%=alert%>
      <%= form_with model: @genre_item, url: admin_genre_item_path(@genre_item),method: :patch do |f|%>
        <%=f.text_field :name%></br>
        <%=f.submit '編集する',class:"btn btn-success m-5"%>
        <%=link_to "削除",admin_genre_item_path(@genre_item),method: :delete,class:"btn btn-danger m-5"%>
      <%end%>
      
    </div>
    
    
</main>


      

