<%=render 'layouts/public_header'%>

<h2><%=@musician.name%>のプロフィール</h2>

<% if @musician.musician_image.attached?%>
  <%=image_tag @musician.musician_image,size: '200x200'%>
<%else%>
  <%=image_tag 'no_image',size: '200x200'%>
<%end%>

<% if current_user.present?%>
    <% if current_user.following?(@musician)%>
      <%=link_to "フォローをやめる", public_musician_relationship_path(@musician.id),method: :delete,class:"btn btn-secondary"%>
    <%else%>
      <%=link_to "フォロー",public_musician_relationships_path(@musician.id),method: :post, class:"btn btn-primary"%>
    <%end%>
<%end%>

<table class="table">
    <tbody>
        <tr>
            <td>名前</td>
            <td><%=@musician.name%></td>
        </tr>
        
        <tr>
            <td>説明文</td>
            <td><%=@musician.introduction%></td>
        </tr>
        
        <tr>
            <td>ジャンル</td>
            <td>
                <% @musician.genre_items.each do |genre_item|%>
                  <td><%=genre_item.name%></td>
                <%end%>
            </td>
        </tr>
        
        <tr>
            <td>フォロワー</td>
            <td><%=@musician.followers.count%></td>
        </tr>
    </tbody>
</table>


<div class="card-deck">
    <% @musician.events.each do |event|%>
      <div class="card bg-light">
        <%= link_to public_event_path(event.id) do %>
            <div class="card-body">
                <% if event.event_image.attached?%>
                  <%=image_tag event.event_image,size: '100x100'%>
                <%else%>
                  <%=image_tag 'no_image'%>
                <%end%>
                <h4 class="card-title"><%=event.name%></h4>
                
                <p><%=event.musician.name%></p>
                <p><%=event.datetime%></p>
                
                <p>
                   <% event.genre_items.each do |genre_item|%>
                     <div class="border">
                       <%=genre_item.name%>
                     </div>
                   <%end%>
                </p>
                
                
                <%=event.created_at%>
            </div>
        <%end%>
      </div>
    <%end%>
</div>