<%= render 'layouts/public_header'%>

<main>
  
  <div class="row">
    <div class="col-xl-4 col-lg-4 col-xs-12 col-sm-12 col-md-12"></div>
    <h2 class="col-xl-4 col-lg-4 col-xs-12 col-sm-12 col-md-12 bg-light text-center">ユーザー新規登録</h2>
    <div class="col-xl-4 col-lg-4 col-xs-12 col-sm-12 col-md-12"></div>
  </div>
  
  <div class="text-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>
    
    <div class="form-group p-2">
      <div class="field">
        <%= f.label :user_image,'プロフィール画像:'%>
        <%= f.file_field :user_image,accept: 'image/*',placeholder: 'ファイルを選択'%>
      </div>
    </div>
    
    <div class="form-group p-2">
      <div class="field">
        <%= f.label :name,'名前:'%>
        <%= f.text_field :name, placeholder: 'ユーザー名',autofocus: true, autocomplete: "name"%>
      </div>
    </div>
    
    <div class="form-group p-2">
      <div class="field">
        <%= f.label :email,'メールアドレス:' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: 'xxx@xxx' %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="field p-2">
        <%= f.label :password,'パスワード:' %>
        <% if @minimum_password_length %>
        
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password",placeholder: '6文字以上' %>
      </div>
    
      <div class="field p-2">
        <%= f.label :password_confirmation,'パスワード（確認用）:' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '6文字以上'%>
      </div>
    </div>
    
    <div class="actions">
      <%= f.submit "Sign up",class:"btn btn-primary" %>
    </div>
    <% end %>
    
  </div>
  
  <div class="text-center p-3">
    登録済みの方は<%=link_to 'こちら',new_user_session_path%>
  </div>
  
</main>

