<%= render 'layouts/admin_header'%>

<main>
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-xs-12 col-sm-12 col-md-12"></div>
          <h2 class="col-xl-4 col-lg-4 col-xs-12 col-sm-12 col-md-12 bg-light text-center"><%=@musician.name%></h2>
        <div class="col-xl-4 col-lg-4 col-xs-12 col-sm-12 col-md-12"></div>
    </div>
    
    <div class="text-center">
        <% if @musician.musician_image.attached?%>
          <%=image_tag @musician.musician_image,size: '200x200'%>
        <%else%>
          <%=image_tag 'no_image.jpg',size: "200x200"%>
        <%end%>
    </div>
    
    <div class="mx-auto">
        <table class="table text-center">
            <tbody>
                <tr>
                    <td>名前</td>
                    <td><%=@musician.name%></td>
                </tr>
                
                <tr>
                    <td>説明文</td>
                    <td><%=@musician.introduction%></td>
                </tr>
                
                <tr>
                    <td>ジャンル</td>
                    <td>
                        <% @musician.genre_items.each do |genre_item|%>
                          <span class="text-center m-1" style="display: block;"><%=genre_item.name%></span>
                        <%end%>
                    </td>
                </tr>
                
                <tr>
                    <td>フォロワー数</td>
                    <td><%=@musician.relationships.count%></td>
                </tr>
                
                <tr>
                    <td>退会ステータス</td>
                    <td><%=@musician.is_deleted_i18n%></td>
                </tr>
                
                <tr>
                    <td>Eメール</td>
                    <td><%=@musician.email%></td>
                </tr>
            </tbody>
        </table>
    </div>
        
    <div class="text-center">
        <%if @musician.is_deleted=="validity"%>
          <%=link_to "退会する",admin_musicians_withdrawal_path(@musician),method: :patch, data: {confirm: "本当に退会しますか？" },class:"btn btn-danger"%>
        <%else%>
          <p class="btn btn-secondary">無効</p>
        <%end%>
    </div>
        
</main>


        

    