<%= render 'layouts/admin_header'%>

<h2>ミュージシャン詳細</h2>

<% if @musician.musician_image.attached?%>
  <%=image_tag @musician.musician_image,size: '200x200'%>
<%else%>
  <%=image_tag 'no_image',size: "200x200"%>
<%end%>

<table class="table">
    <tbody>
        <tr>
            <td>名前</td>
            <td><%=@musician.name%></td>
        </tr>
        
        <tr>
            <td>説明文</td>
            <td><%=@musician.introduction%></td>
        </tr>
        
        <tr>
            <td>ジャンル</td>
            <td><%=@musician.genres.name%></td>
        </tr>
        
        <tr>
            <td>フォロワー数</td>
            <td><%=@musician.relationships.count%></td>
        </tr>
    </tbody>
</table>

<%=link_to "退会する",admin_musicians_withdrawal_path,method: :patch,class:"btn btn-danger"%>