<%= render 'layouts/musician_header'%>

<main>
  <div class="row">
    <div class="col-4"></div>
    <h2 class="col-4 bg-light text-center">ミュージシャンログイン</h2>
    <div class="col-4"></div>
  </div>
  
  <p class="notice text-center"><%= notice %></p>
  <p class="alert text-center"><%= alert %></p>
  
  <div class="text-center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
      <div class="form-group p-3">
        <%= f.label :email,'メールアドレス:' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: 'xxx@xxx'%>
      </div>
      
      <div class="form-group p-3">
        <%= f.label :password,'パスワード:' %>
        <%= f.password_field :password, autocomplete: "current-password",placeholder: '6文字以上' %>
      </div>
      
      <div class="actions">
        <%= f.submit "Log in",class:"btn btn-primary" %>
      </div>
    <%end%>
  </div>
  
  <div class="text-center">
    登録がまだの方は<%=link_to "こちら", new_musician_registration_path%>
  </div>
</main>



