<%= render 'layouts/musician_header'%>

<h2>ミュージシャンログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email,'メールアドレス' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,placeholder: 'xxx@xxx'%>
  </div>

  <div class="field">
    <%= f.label :password,'パスワード' %>
    <%= f.password_field :password, autocomplete: "current-password",placeholder: '6文字以上' %>
  </div>

  <div class="actions">
    <%= f.submit "Log in",class:"btn btn-primary" %>
  </div>
<% end %>

登録がまだの方は<%=link_to "こちら", new_musician_registration_path%>
