<%= render 'layouts/admin_header'%>

<h2>ユーザー詳細</h2>

<%if @user.user_image.attached?%>
  <%= image_tag @user.user_image,size:"200x200"%>
<%else%>
  <%=image_tag 'no_image',size:"200x200"%>
<%end%>

<table class="table">
    <tbody>
        <tr>
            <td>名前</td>
            <td><%= @user.name%></td>
        </tr>
        
        <tr>
            <td>フォロー中のミュージシャン</td>
            <td><%=@user.relationships.count%></td>
        </tr>
        
        <tr>
            <td>いいねしたイベント</td>
            <td><%=@user.favorites.count%></td>
        </tr>
        
        <tr>
            <td>好みのジャンル</td>
            <td>
                <%@user.genre_items.each do |genre_item|%>
                  <%=genre_item.name%>
                <%end%>
            </td>
        </tr>
        
        <tr>
            <td>退会ステータス</td>
            <td><%=@user.is_deleted_i18n%></td>
        </tr>
    </tbody>
</table>

<%if @user.is_deleted== "validity"%>
  <%=link_to "退会する",admin_users_withdrawal_path(@user.id),method: :patch,class:"btn btn-danger"%>
<%else%>
  <p class="btn btn-secondary">無効</p>
<%end%>