<header style="padding:80px">
 <nav class="navbar navbar-expand-lg custom-toggler">

     <div class="nav-brand text-center">
       <h1 class="text-white">My Swing</h1>
     </div>
     
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>
     
     
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <% if admin_signed_in?%>
            <ul class="nav justify-content-center">
              <li class="nav-item">
                    <%=link_to "ログアウト",destroy_admin_session_path,method: :delete,class:"btn btn-light border mr-3"%>
              </li>
              
              <li class="nav-item">
                      <%=link_to "ミュージシャン一覧", admin_musicians_path,class:"btn btn-light border mr-3"%>
              </li>
              
              <li class="nav-item">
                      <%=link_to "ユーザー一覧",admin_users_path,class:"btn btn-light border mr-3"%>
              </li>
              
              <li class="nav-item">
                      <%=link_to "イベント一覧",admin_events_path,class:"btn btn-light border mr-3"%> 
              </li>
              
              <li class="nav-item">
                      <%=link_to "ジャンル",admin_genres_path,class:"btn btn-light border mr-3"%> 
              </li>
              
            </ul>
            <%else%>
            <ul class="nav justify-content-center">
              <li class="nav-item">
                <%=link_to "新規登録",new_user_registration_path,class:"btn btn-light border mr-3" %>
              </li>
              
              <li class="nav-item">
                <%=link_to "ログイン",new_user_session_path,class:"btn btn-light border mr-3" %>
              </li>
              
              <li class="nav-item">
                <%=link_to "イベント一覧",root_path,class:"btn btn-light border mr-3" %>
              </li>
              
              <li class="nav-item">
                <%=link_to "ミュージシャン一覧",musicians_index_path,class:"btn btn-light border mr-3" %>
              </li>
              
            </ul>
        <%end%>
      </div>
 </nav>
</header>

